* {
  font-family: 'Roboto' !important;
}

body,
html {
  height: 100% !important;
  display: grid !important;
}

body {
  margin: 0px;
  max-width: 100vw;
  /* background-image: url("../assets/charlotte.jpg");
    background-size: 100vw; */
  /* background-color: blueviolet; */
}

.nav-bar {
  background-color: #ffffff;
  /* could you set opacity to 0 to get an image to show through */
}

.nav-item {
  color: rgb(0, 0, 0);
  padding: 0px 10px;
  /* This allows the link to take up the full height of the navbar */
  line-height: 64px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: rgb(0, 0, 0, 0.1);
  cursor: pointer;
}
